header {
    color: white;
    background-color: #004175;
    border: 4px solid #89DEEF;
    border-width: 0px 0px 4px 0px;
    padding: 1px;
    text-align: center;
    font-family: "open sans";
}

body {
    font-family: "Oswald";
}

.content {
    display: flex;
}

section {
    display: flex;
    padding-top: 20px;
    width: 30%;
}

.name {
    font-weight: bold;
}

.box {
    height: 500px;
}

